body{
	background-image:url('../image/0.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}
#login_box{
	width: 20%;
	height: 400px;
	background:#00000040;
	margin:auto;
	margin-top: 10%;
	text-align: center;
	border-radius: 10px;
	padding: 50px 50px;
}
#login_box h2{
	color: #e8e7b730;
	margin-top: 5%;
}
#login_box #form #input_box{
	margin-top: 5%;
}
#login_box #form #input_box i{
	color: #e8e7b730;
}
#login_box #form #input_box input{
	border:0;
	width: 60%;
	font-size: 15px;
	color: #fff;
	background: #ffffff00;
	border-bottom: 2px solid#eacda950;
	padding: 5px 10px;
	margin-top: 10px;
}
#login_box #form #input_box1{
	margin-top: 5%;
}
#login_box #form #input_box1 i{
	color: #e8e7b730;
}
#login_box #form #input_box1 input{
	border:0;
	width: 60%;
	font-size: 15px;
	color: #fff;
	background: #ffffff00;
	border-bottom: 2px solid#eacda950;
	padding: 5px 10px;
	margin-top: 10px;
}
#login_box #form #input_box2{
	margin-top: 5%;
}
#login_box #form #input_box2 i{
	color: #e8e7b730;
}
#login_box #form #input_box2 input{
	border:0;
	width: 60%;
	font-size: 15px;
	color: #fff;
	background: #ffffff00;
	border-bottom: 2px solid#eacda950;
	padding: 5px 10px;
	margin-top: 10px;
}
#login_box button{
	margin-top: 50px;
	width: 40%;
	height: 30px;
	border-radius: 10px;
	border: 0;
	color: #fff;
	font-size: 15px;
	background-image: linear-gradient(to top, #30324d 0%, #5f6298 100%);
}
#login_box #Sign{
	margin-top: 45%;
	margin-left: 60%;
}
#login_box #Sign a{
	color: #d1c2d8;
}

